<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Books</h1>
    <ul>
        <% books.forEach(book => { %>
            <li><%= book.title %> by <%= book.author %> (Genre: <%= book.genre %>)</li>
        <% }); %>
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>
